[Unit]
Description=hklirc daemon

[Service]
Type=simple
User=pi
ExecStart=/home/pi/hklirc/daemon_python/hklircd.sh

[Install]
WantedBy=multi-user.target