{% extends 'adminltetop/body.html' %}

{% block title %}Mappings{% endblock %}
{% block page_name %}{{ mapping.name }}{% endblock %}
{% block page_description %}Edit{% endblock %}

{% block breadcrumb-items %}
<li class="breadcrumb-item"><a href="{% url 'mapping_index' %}" class="text-navy">Mappings</a></li>
<li class="breadcrumb-item">{{mapping.name}}</li>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Name" name="general_name"
                            value="{{mapping.name}}">
                        {% if mapping.active %}
                        <div class="input-group-append">
                            <span class="input-group-text text-navy">Active</span>
                        </div>
                        {% endif %}
                    </div>


                </div>
                <ul class="list-group list-group-flush" id="key_map_list">
                    <li class="list-group-item key" style="display: none" id="key_map_template"
                        key="KEY_CODE_TO_REPLACE">
                        <div class="row">
                            <div class="col-sm-4">
                                KEY_CODE_TO_REPLACE
                            </div>
                            <div class="col-sm-2 text-center">
                                <i class="fas fa-arrow-right align-bottom"></i>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group input-group">
                                    <select name="mapping_KEY_CODE_TO_REPLACE" class="form-control custom-select">
                                        {% for key_code in all_keys %}
                                        <option value="{{key_code}}">{{key_code}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1 text-right">
                                <a href="javascript:removeKeyMap('KEY_CODE_TO_REPLACE')" class="btn text-danger"><i
                                        class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </li>
                    {% for key in mapping_codes %}
                    <li class="list-group-item key" key="{{key}}" id="{{key}}">
                        <div class="row">
                            <div class="col-sm-4">
                                {{key}}
                            </div>
                            <div class="col-sm-2 text-center">
                                <i class="fas fa-arrow-right align-bottom"></i>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group input-group">
                                    <select name="mapping_{{key}}" class="form-control custom-select">
                                        {% for key_code in all_keys %}
                                        {% if mapping_codes|get_item:key == key_code %}
                                        <option selected value="{{key_code}}">{{key_code}}</option>
                                        {% else %}
                                        <option value="{{key_code}}">{{key_code}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1 text-right">
                                <a href="javascript:removeKeyMap('{{key}}')" class="btn text-danger"><i
                                        class="fas fa-times"></i></a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="card-footer text-center">
                    <a href="#" class="btn text-navy" id="addMapping"><i class="fas fa-plus"></i> Map a new Key</a>
                </div>
            </div>
</form>
</div>
<div class="col-xs-12 col-md-4">
    <input type="submit" class="btn btn-block bg-navy" name="submitted" value="Save" /><br />

    <div class="card">
        <div class="card-header">
            <span class="card-title"><span class="text-muted">Remotes & Keys</span></span>
        </div>
        <ul class="list-group list-group-flush">
            {% for key, value in remotes.items %}
            <li class="list-group-item">{{ key }} <br />

                {% for key_code in value.codes %}
                <span class="badge bg-navy">{{key_code}}</span>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <a class="btn btn-block btn-danger" href="{% url 'mapping_delete' mapping.id %}">Delete</a>
</div>

</div>
</form>
<script>
    $('option:selected').each(function () { $(this).prop('selected', true); });
</script>

<div class="modal fade" id="mapping-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Which button do you want to map?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <ul class="list-group list-group-flush">
                {% for key, value in remotes.items %}
                <li class="list-group-item">{{ key }} <br />

                    {% for key_code in value.codes %}
                    <a href="#{{key_code}}" class="remote_button button_{{key_code}}" {% if key_code in mapping_codes %}
                        style="display:none;" {% endif %}><span class="badge bg-navy">{{key_code}}</span></a>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
            <div class="modal-footer text-center text-muted">
                <small>Click on a button to continue.</small>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>

    $('a#addMapping').click(function (e) {
        e.preventDefault();
        $('#mapping-modal').modal('show');
    })

    $('a.remote_button').click(function (e) {
        e.preventDefault();
        var pressedKey = $(this).attr('href').replace("#", "");

        var proceed = true;
        $("li.key").each(function (e) {
            if ($(this).attr("key") == pressedKey)
                proceed = false;
        })

        if (proceed) {
            var template = $('<div>').append($('li#key_map_template').clone().show()).html();
            template = template.replaceAll("KEY_CODE_TO_REPLACE", pressedKey)
            template = template.replaceAll('key_map_template', pressedKey)
            $('ul#key_map_list').append($.parseHTML(template));
            $('a.button_' + pressedKey).hide()
        }

        $('#mapping-modal').modal('hide');
    })

    function removeKeyMap(key) {
        $('li#' + key).remove()
    }
</script>

{% endblock %}