[Unit]
Description=hklirc gunicorn daemon

[Service]
Type=simple
User=pi
ExecStart=/home/pi/hklirc/server/hklirc-config-start.sh

[Install]
WantedBy=multi-user.target
